<form autocomplete="off" class="form" role="form">
  <div class="form-group">
    <label for="projectName">What do you want to name your project?</label> 
		<input class="form-control" id="projectName" placeholder="Project Name" type="text">
  </div>
  <div class="form-group">
    <label for="classNo">How many types of thing do you have?</label> 
		<input class="form-control" id="classNo" placeholder="0-999" required="" type="email">
  </div>
  <label><strong>Please label the first 5 images you uploaded </strong></label> 
  <div class="form-group">
    <label for="imageLabel1">What is in image 1?</label> 
		<input class="form-control" id="imageLabel1" placeholder="Eg. Dog, Cat" required="" type="email">
  </div>
  <div class="form-group">
    <label for="imageLabel2">What is in image 2?</label> 
		<input class="form-control" id="imageLabel2" placeholder="Eg. Dog, Cat" required="" type="email">
  </div>
  <div class="form-group">
    <label for="imageLabel3">What is in image 3?</label> 
		<input class="form-control" id="imageLabel3" placeholder="Eg. Dog, Cat" required="" type="email">
  </div>
  <div class="form-group">
    <label for="imageLabel4">What is in image 4?</label> 
		<input class="form-control" id="imageLabel4" placeholder="Eg. Dog, Cat" required="" type="email">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Save or Deploy?</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option value="save" selected>Save</option>
      <option value="deploy">Deploy</option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-success btn-lg float-right" type="submit">SUBMIT</button>
  </div>
</form>