<div class="row">
  <div class="col-xl-12 col-lg-12">
    <h3> Upload your image data </h3>
    <form action="/datum"
      class="dropzone"
      id="my-awesome-dropzone">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <div class="fallback">
        <input name="media" type="file" multiple />
      </div>
    </form>
  </div>
</div>