<div class="row">
  <div class="col-xl-12 col-lg-12">
    <form action="/datum"
      class="dropzone"
      id="my-awesome-dropzone">
      <input  name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <div class="fallback">
        <input name="media" type="file" multiple required/>
      </div>
    </form>
  </div>
</div>

<script>
var i = 0;
Dropzone.options.myAwesomeDropzone = {
  paramName: "file", // The name that will be used to transfer the file
  addRemoveLinks: true,
  accept: function(file, done) {
    i++;
    done();
  },
  renameFile: function(file) {
    console.log(i.toString())
    return i.toString() + '.' + file.name.split('.').pop();
  }

};
</script>