


<!-- End Navbar -->
<div class="margin">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-12 center">
          <%= render 'upload'%>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <%= render 'classification_form'%>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$("#example-basic").steps({
    headerTag: "h3",
    bodyTag: "section",
    transitionEffect: "slideLeft",
    autoFocus: true
});
</script>