<h1>Output</h1>
<div class="margin">
  <div class="content">
    <div class="container-fluid">
      <h2> Output </h2>
      <% @classes.each do |c|%>
        <div class="row">
          <div class="col-xl-12 col-lg-12 center">
            <p><%= c %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>