/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
    src: url('/assets/demi');
    font-family: "Demi";
}

@font-face {
    src: url('/assets/idemi');
    font-family: "Idemi";
}

@font-face {
    src: url('light');
    font-family: "Light";
}

@font-face {
    src: url('/assets/ilight');
    font-family: "Ilight";
}

@font-face {
    src: url('/assets/bold');
    font-family: "Bold";
}

.bold {
    font-family: "Bold";
}

.demi {
    font-family: "Demi";
}

.idemi {
    font-family: "IDemi"
}

.light {
    font-family: "Light";
}

.ilight {
    font-family: "Ilight";
}

nav {
    background-color: rgba(0,0,0,0.25);
    z-index: 99;
}

nav li a {
    font-family: "Demi";
    margin: 0px 8px;
    font-size: 14px;
}

section {
    margin: 0;
}

.shadow-big {
    text-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.shadow-small {
    text-shadow: 0 1px 3px rgba(0,0,0,0.12);
}