<style type="text/css">
	#header {
		background-image: linear-gradient(45deg, #24fe41, #45b649);
		padding: 100px;
		color: white;
		padding: 100px 0;
		padding-bottom: 60px;
	}
	
</style>

<section id="header">
    <div class="container">
        <h1 class="demi text-center shadow-big">Wildlife Conservation : Intruder Detector</h1>
        <p class="light shadow-small text-center lead">Stay alerted on unexpected breaches and potential poaching approaches.</p>
    </div>
</section>